version: '3.8'

services:

  db:
    image: mongo:6.0
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_DB_DATABASE: nest-xperience
    volumes:
      - ./mongo:/data/db